<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div class="body" id="pageData" style="height: 100%;">
    <div class="container">
        <div class="col-sm-12">
            <input type="text" [(ngModel)]="demoApk.value1" id="data" (click)="keyEvent('click',1)"
                (focusout)="keyEvent('Tab',1)" />
        </div>
        <div class="col-sm-12">
            <input type="text" [(ngModel)]="demoApk.value2" (click)="keyEvent('click',2)"
                (focusout)="keyEvent('Tab',2)" />
        </div>
        <div class="col-sm-12">
            <input type="text" [(ngModel)]="demoApk.value3" (click)="keyEvent('click',3)"
                (focusout)="keyEvent('Tab',3)" />

        </div>
        <div class="col-sm-12">
            <input type="text" [(ngModel)]="demoApk.value4" (click)="keyEvent('click',4)"
                (focusout)="keyEvent('Tab',4)" />

        </div>
        <div class="col-sm-12">
            <input type="text" [(ngModel)]="demoApk.value5" (click)="keyEvent('click',5)"
                (focusout)="keyEvent('Tab',5)" />
        </div>

    </div>

    <div class="container">

        <button type="button" class="btn btn-primary" (click)="generateOtp()" *ngIf="!hidBtn">Generate OTP</button>
    </div>
    <div class="container" *ngIf="hidBtn">

        <label>Validate OTP</label>
        <input type="number" [(ngModel)]="otp" />
        <button type="button" (click)="valodateOtp()">Validate</button>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width.%]="count" [attr.aria-valuenow]="count" aria-valuemin="0"
            aria-valuemax="100">{{count}}%</div>
    </div>

</div> -->
<!-- 
<div>
    <h2>Tags Form</h2>
  
    <form #tagsForm="ngForm">
      <div>
        <label for="tagInput">Add Tag:</label>
        <input type="text" id="tagInput" name="tagInput" [(ngModel)]="newTag" />
        <button type="button" (click)="addTag()">Add</button>
      </div>
    </form>
  
    <div *ngIf="tags.length > 0">
      <h3>Tags:</h3>
      <ul>
        <li *ngFor="let tag of tags; let i = index">
          {{ tag }}
          <button type="button" (click)="removeTag(i)">Remove</button>
        </li>
      </ul>
    </div>
  </div> -->