<div class="containter md-2" style="margin-left: 100px; margin-right: 300px; border: 1px solid; padding: 10px;">
    <form #updateForm="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="file" #image="ngModel" name="img" (change)="uploadImg($event)" [(ngModel)]="user.ImageUrl"
                class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" name="fname" [(ngModel)]="user.firstName" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" name="lname" class="form-control" [(ngModel)]="user.lastName" id="exampleInputPassword1"
                placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="tagInput">Add Tag:</label>
            <input type="text" id="tagInput" name="tagInput" [(ngModel)]="newTag" />
            <button type="button" (click)="addTag()">Add</button>
        </div>
        <div style="display: flex; background-color: azure;" *ngIf="tags.length > 0">
            <h3 style="font-size: 15px;">Tags:</h3>
            <ul>
                <li *ngFor="let tag of tags; let i = index">
                    {{ tag }}
                    <button type="button" (click)="removeTag(i)">Remove</button>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">E-mail</label>
            <input type="email" #mail="ngModel" name="mail" class="form-control"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" id="exampleInputPassword1"
                placeholder="E-Mail" required>
            <span *ngIf="mail.errors?.['pattern']" style="color: tomato;">Enter Valid e-mail</span>
        </div>
        <div class="form-group no-spinner-input">
            <label for="exampleInputPassword1">Mobile No</label>
            <input type="number" #mob="ngModel" name="mob" class="form-control" pattern="^((\\+91-?)|0)?[0-9]{10}$"
                [(ngModel)]="user.mobile" id="exampleInputPassword1" placeholder="Last Name" required>
            <span *ngIf="mob.touched && mob.errors?.['pattern']"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Age</label>
            <input type="range" name="ages" (ngModelChange)="onchangeAge($event)" min="8" max="80"
                [(ngModel)]="user.age" id="exampleInputPassword1" placeholder="Last Name">
            <label for=""> {{user.age}}</label>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" name="addre " class="form-control" [(ngModel)]="user.address" id="exampleInputPassword1"
                placeholder="Last Name" required>
        </div>
    </form>
    <br> 
    <button type="submit" [disabled]="updateForm.invalid" class="btn btn-success" (click)="updateUser()">Update</button>
</div>